[Unit]
Description=htpdate daemon
After=network.target

[Service]
Type=exec
Environment=HTPDATE_ARGS="-a -s -t http://www.google.com https://www.google.com"
EnvironmentFile=-/etc/default/htpdate
ExecStart=/usr/bin/htpdate -F $HTPDATE_ARGS

[Install]
WantedBy=multi-user.target
